.name {
  color: white;
  font-weight: 500;
  font-size: 3em;
}

.pokemon_details_card {
  text-align: center;
  margin: 4em;
}

.description {
  color: white;
  font-weight: 600;
  font-size: 2em;
  line-break: ;
}

.img_one,
.img_two,
.img_three {
  height: 25em;
  width: 25em;
  margin: 2em;
}

.swiper-pagination-bullet {
  background: white !important;
}

@media screen and(min-width: 700px) {
  .img_one,
  .img_two,
  .img_three {
    height: 25em;
    width: 25em;
  }
}

@media screen and (max-width: 700px) {
  .img_one,
  .img_two,
  .img_three {
    height: 10em;
    width: 10em;
  }
  .description {
    color: white;
    font-weight: 600;
    font-size: 1em;
  }
}
