.no_query {
  font-size: 3em;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 1em;
}

.astronaut {
  height: 6em;
  width: 6em;
  margin-top: 1em;
  border-radius: 1em;
  border: solid 0.2em white;
}
