.search {
  position: relative;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 6em;
  height: 0.2em;
  border-radius: 4px;
  padding: 16px;
  padding-right: 40px;
  font-size: 16px;
  text-overflow: ellipsis;
  outline: none;
}

.searchButton {
  /* width: 2.5%; */
  border-radius: 0 0.3em 0.3em 0;
  background-color: coral;
}

.clear_input {
  position: absolute;
  left: 8em;
  top: 0.8em;
  width: 3em;
  height: 3em;
}
