.search {
  position: relative;
  width: 80%;
  display: flex;
  max-width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

input {
  width: 6em;
  height: 0.3em;
  border-radius: 0.5em 0em 0em 0.5em;
  padding: 16px;
  padding-right: 40px;
  font-size: 19px;
  text-overflow: ellipsis;
  outline: none;
}

.searchButton {
  border-radius: 0 0.5em 0.5em 0;
  background-color: rgb(251, 250, 250);
  width: 3em;
  height: 3.1em;
}

.clear_input {
  position: absolute;
  left: 9em;
  top: 0.8em;
  width: 3em;
  height: 3em;
}
