.nav {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.2em solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1em;
  box-sizing: border-box;
  background-color: #ffd700;
  margin-top: 0;
}

li {
  list-style: none;
  margin-left: 1.3em;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}
