.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 0.2em solid rgb(246, 247, 248);
  background-color: blanchedalmond;
  border-radius: 1em;
  width: 16.2em;
}

.card {
  margin: 0.6em;
}

.cards_container {
  max-width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
}

.nasa_img {
  height: 12em;
  width: 16em;
  border-radius: 1em;
  border: solid 0.1em white;
}

.image_not_available {
  height: 9em;
  width: 18em;
}

.title {
  font-size: 1.6em;
  font-weight: 800;
}

.no_input {
  font-weight: 800;
  font-size: 3em;
  color: white;
}

@media (min-width: 600px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
