.card {
  margin: 0.6em;
}

.apod_main_container {
  max-width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
}

.apod_img {
  height: 30em;
  width: 40em;
  border-radius: 1em;
  border: solid 0.1em white;
}

.apod_title,
h1,
.date,
.explanation {
  color: white;
}

.explanation {
  height: 20em;
  width: 40em;
  margin-top: 1em;
}

@media (min-width: 600px) {
  .apod_main_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .apod_main_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
